<article>
  <h2>
    Edit Comment
  </h2>
  <form class="edit-comment-form">
    <div>
      <textarea id="comment-text">{{comment.comment_text}}</textarea>
    </div>
    <button class="edit-comment" type="button">Update Comment</button>
    <button type="button" class="delete-comment-btn">Delete</button>
  </form>
</article>
<script src="/javascript/edit-comment.js"></script>
<script src="/javascript/delete-comment.js"></script>
