* {
    box-sizing: border-box;
   
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    background-color: rgb(187, 237, 220);
}
/* HEADER SECTION*/

nav {
    background-color: rgb(32, 26, 26);
}

nav a{
    display: inline-block;
    color: rgb(187, 237, 220);
    background-color: rgb(32, 26, 26);
    font-size: xx-large;
    margin-right: 100px;
}

header {
    background-color: rgb(32, 26, 26);
    color: rgb(187, 237, 220);
    padding: 50px;
}


.app-title {
    background-color: rgb(187, 237, 220);
    font-size: 75px;
    padding: 0 12px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(117, 165, 149);
}
h1 > a{
    color: rgb(32, 26, 26);
    background-color:rgb(187, 237, 220);
}


/*POST SECTION*/

.post{
    width: 90%;
    margin: 10px auto;
    border: 2px solid rgb(32, 26, 26);
}

.post_title{
    background-color: rgb(32, 26, 26);
    color: rgb(187, 237, 220);
    padding: 15px;
    font-size: x-large;
}

.post_text {
    font-size: large
}

/*LOGIN PAGE*/

.welcome {
    width: 90%;
    margin: 10px;
    border: 2px solid rgb(32, 26, 26);
    background-color: rgb(187, 237, 220);
    margin: 35px auto;
}


.welcome span {
    color: rgb(187, 237, 220);
    background-color: rgb(32, 26, 26);
    display: block;
    font-size: xx-large;
    padding: 15px;
}

.login-form,.signup-form {
    padding: 15px;
    font-size: 30px;
}
#email-login, #password-login,  #username-signup, #email-signup, #password-signup{
    width: 100%;
    margin: 5px auto;
    padding: 15px;
    border: 1px solid rgb(32, 26, 26);
    border-radius: 15px;
    font-size: 30px;
}
.login-form button, .signup-form button, div button {
    color:rgb(187, 237, 220);
    background-color: rgb(32, 26, 26);
    width: 100%;
    padding: 10px 0;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: x-large;
    border-radius: 10px;
}

#sign-up, #log-in {
    text-decoration: underline;
}

.signup-form {
    display: none;
}


/*SINGLEPOST.HANDLEBARS*/
form div {
    margin: 0 auto;
}
div > textarea {
    width: 95%;
    height: 200px;
    margin: 25px auto;
    display: block;
}

.comment-form {
    width: 90%;
    margin: 30px auto;
    border: 2px solid rgb(32, 26, 26);
}

.comment {
    width: 90%;
    border: 2px solid rgb(32, 26, 26);
    background-color: rgb(32, 26, 26);
    padding-top: 55px ;
    margin: 30px auto;
}



section div {
    font-size: xx-large;
    background-color: rgb(187, 237, 220);
    padding: 10px 0;
}

